<div class="panel panel-default">
		<div class="panel-heading">
			<h3><strong><%= @list.name %></strong></h3>
		</div>
		<div class="panel-body">
		<%= form_tag do %>
			<% @list.items.each do |item| %>
		<div class="row">
					<div class="col-md-2">
						<%= link_to check_box_tag(item), item, method: :put %>
						<%= label_tag(item, "#{item.name}: #{item.quantity}", class: item.state) %>
					</div>

				<div class="col-md-2">	
					<%= link_to "Delete Item", item, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
				</div>
			</div>
			<% end %>
		<% end %>
	</div>

	<div class="panel-footer">
		<%= link_to "Add new item", new_item_path, class: "btn btn-primary" %>
		<%= link_to "Back", lists_path, class: "btn btn-primary" %>
		<%= link_to "Delete List", list_path, method: :delete,  data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
	</div>

</div>