<%= form_for @item, url: {action: "create"} do |f| %>
	
<div class="form-group">
	<%= f.label :name %> <br>
	<%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :quantity %> <br>
	<%= f.number_field :quantity, class: "form-control" %>
</div>

<div class="form-group">
	<%= f.label :list_id %> <br>
	<%= f.collection_select :list_id, @lists, :id, :name %> 
</div>


	<%= f.submit "Create Item", class: "btn btn-primary" %>
<% end %>